.mensaje{
 border: 2px solid yellow;
 font-size: xx-large;
 padding: 10px;
font-weight: bold;
 background-color: white;
 margin-left: 10px;
 margin-right: 10px;
}

.uno{
  border: 2px solid black;
  background-color: #9999FF;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
}

.dos{
  background-color: #CE8845;
  margin-left: 60px;
  margin-right: 60px;
}
.comentario{
  border-bottom: 2px solid green;
  margin: 10px;
  font-size: 10px;
  color: white;
}